.footer {
      background-color: black;
}

.smallboxes {
      background-color: green;
      border:5px;
      border-color: white;
}

.softwarecarpentry {
      font-family: monospace;
      color: black;
      font-weight: bold;
      text-align: center;
}

.amazon {
      font-family: monospace;
      color: white;
      font-weight: bold;
      text-align: center;
}

.lulu {
      font-family: monospace;
      color: black;
      font-weight: bold;
      text-align: center;
}
